// Main constants
@logo_proportions: 2338 / 1000;
@page_width: 60rem;


/////////////////////////////////////
// Roof
/////////////////////////////////////

@roof_height: 0;
	
@r_roof_padding: 2vw;
@roof_padding: 0.5rem;

@roof_logo_padding_right: 1rem;
@roof_li_padding: 1.5rem;


/////////////////////////////////////
// Article sizing
/////////////////////////////////////

@article_padding: 0.6rem;


/////////////////////////////////////
// Article sizing
/////////////////////////////////////

@separator_height: 0.5rem;
@separator_segment: 1.5rem;
@separator_interval: 0.5rem;


/////////////////////////////////////
// Colors
/////////////////////////////////////

// Low-level color definitions
@black:    #000000;
@blue:     #006680;
@roofblue: #2C72C7;
@brown:    #8C4700;
@darkgray: #888888;
@darkestgray: #4D4D4D;
@green:    #2CA05A;
@gray:     #ECECEC;
@orange:   #D9822B;
@red:      #BF0000;
@skyblue:  #BFD9FF;
@violet:   #85026C;
@white:    #FFFFFF;
@yellow:   #FFEB97;

// Color theme
@c_article_bg:      @white;
@c_article_fg:      @black;
@c_background:      @white;
@c_button:          @green;
@c_button_text:     @white;
@c_club:            @green;
@c_heading2:        @black;
@c_input_bg:        @white;
@c_input_ph:        @darkgray;
@c_link:            @blue;
@c_link_hover:      @red;
@c_link_visited:    @violet;
@c_logo:            @white;
@c_meta:            @gray;
@c_navbar:          #769CC7;
@c_navbar_sep:      @darkgray;
@c_popup:           @white;
@c_popup_selection: @skyblue;
@c_roof:            @green;
@c_roof_text:       @white;
@c_separator:       @gray;
@c_tag:             @orange;

// Styles
@import "actions-sheet.less";
@import "article.less";
@import "body.less";
@import "commons.less";
@import "content.less";
@import "footer.less";
@import "microform.less";
@import "mq.less";
@import "profile.less";
@import "replies.less";
@import "roof.less";
@import "settings.less";
@import "superheader.less";
