.actions-sheet {
	display: flex;
	margin: auto;
	margin-bottom: 1.5rem;
	max-width: @page_width;
	text-align: right;
	
	.search-box {
		.sheet;
		display: flex;
		flex-grow: 10000;
		min-width: 0;
		
		&:not(:last-child) {
			margin-right: 1rem;
		}
		
		input[type="text"] {
			background: none;
			border: 0;
			display: inline-block;
			flex-grow: 10000;
			font-family: inherit;
			font-size: 1rem;
			margin: 0;
			min-width: 0;
			padding: 0.5rem 0.7rem;
		}
		
		input[type="submit"] {
			background: @green;
			border: none;
			color: @white;
			cursor: pointer;
			flex-grow: 0;
			font-size: 1rem;
			font-weight: bold;
			padding: 0 0.7rem;
			width: auto;
			
			&:hover {
				background: darken(@green, 10%);
			}
		}
	}
	
	.paginator {
		.sheet;
		display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-end;
		width: auto;
		
		a, span {
			background: @c_article_bg;
			border-left: 1px solid gray;
			color: @blue;
			text-decoration: none;
			padding: 0.5rem 0.7rem;
			white-space: nowrap;
			
			&:first-child {
				border-left: none;
			}

			&.prev, &.next {
				font-weight: bold;
			}
			
			&.current {
				background: @blue;
				color: @c_article_bg;
				font-weight: bold;
			}
		}

		a:hover {
			background: @skyblue !important;
			color: @blue !important;
		}
	}
}

.superheader2 + .actions-sheet {
	margin-top: 1.5rem;
	margin-bottom: 0;
	
	& + article {
		margin-top: 0;
	}
}
