/// Most styles for article's content are placed here.

article {
	.sheet;
	padding: @article_padding 0 @article_padding 0;
		
	&:first-of-type {
		margin-top: 1.5rem;
	}
	
	&:last-child {
		margin-bottom: 3rem;
	}
	
	.club-link-wrapper {
		display: block;
		padding-bottom: 0.5rem;
		
		& > a.club {
			background: @gray;
			font-size: 1.3rem;
			margin: 0 @article_padding;
			padding: 0 0.3rem;
			
			& + br + br + a.user {
				margin-top: 0.5rem;
			}
		}
	}
	
	& > a.user {
		font-size: 1.5rem;
		line-height: 1.5rem;
		margin: 0 @article_padding;
		
		img {
			float: left;
			height: 3rem;
			width: 3rem;
			position: absolute;
			vertical-align: text-top;
		}
		
		span {
			font-size: 1.5rem;
			padding-left: 3.5rem;
		}
		
		& + div.date {
			margin-left: @article_padding+3.5rem;
		}
	}
	
	div.date {
		color: @darkgray;
		font-family: serif;
		font-style: italic;
		margin-bottom: 0.5rem;
		margin-left: @article_padding;
	}
	
	.tags {
		font-size: 0.8rem;
		margin: 0 @article_padding 0.5rem @article_padding;
		text-align: right;
		
		a, input[type="text"], span {
			background: @orange;
			border: none;
			color: white;
			padding: 0 0.3em;
			text-decoration: none;
			
			a {
				&::before {
					background: white;
					border-radius: 50%;
					color: @orange;
					content: "×";
					display: inline-block;
					height: 0.8em;
					line-height: 0.8em;
					text-align: center;
					vertical-align: baseline;
					width: 0.8em;
				}
			}
		}
		
		a:hover {
			color: white !important;
		}
		
		span {
			padding: 0 0.1em 0 0.3em;
		}
	}
	
	/**
		Margins will be removed in mq.less.
	 */
	.meta {
		background: @c_meta;
		display: flex;
			flex-direction: row;
		font-size: 1.1rem;
		margin: 1rem 0 1rem 0;
		padding: 0.4rem @article_padding 0.4rem @article_padding;
		text-align: right;
		
		&:last-child {
			margin-bottom: -@article_padding;
		}
		
		a:not(:first-child) {
			margin-left: 0.5rem;
		}
		
		a.discuss, span.discuss {
			font-weight: normal;
			
			&:visited {
				color: @c_link;
			}
		}
		
		a.like {
			background-image: url("img/heart-gray.svg");
			background-position: center left;
			background-repeat: no-repeat;
			background-size: 1.1rem;
			color: @darkgray;
			padding-left: 1.4rem;
			text-decoration: none;
			
			&.liked {
				background-image: url("img/heart-red.svg");
				color: #8A1F24;
			}
		}
		
		span.likes {
			color: @green;
		}
	}
}
