// Common styles for wrappers that wrap the whole document.

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
}

/**
	The wrapper which is placed on top of roof-inner but lower than popup menus.
	
	It is absolutely positioned to cover the whole page
	while padding is imitated through transparent ::before element
	because we need the padding to be flexible the same way as roof is.
 */
#main-wrapper {
	display: flex;
		flex-direction: column;
		min-height: 100vh;
	pointer-events: none;
	position: absolute;
		top: 0;
	width: 100%;
	z-index: 2;
	
	/**
		Transparent element which plays role of padding.
		Its height is the same as height of roof (see roof.less),
		so the real sheet starts right below the roof.
	 */
	&::before {
		content: "";
		display: block;
		min-height: @roof_height;
		max-height: @roof_height;
		width: 100%;
	}
	
	/**
		The sheet itself.
		Background will be removed in mq.less.
	 */
	#main {
		background: url("img-examples/background.png"), lightgray;
		display: flex;
			flex-direction: column;
		flex: 1;
		pointer-events: auto;
	}
}