/// Elements that are shared by lots of other styles, such as links, userpics, etc.

/**
	Usual color link.
 */
a {
	color: @c_link;
	
	&:hover, &:visited:hover {
		color: @c_link_hover !important;
	}
	
	&:visited {
		color: @c_link_visited;
	}
}

/**
	Commonly used links to a user/blog.
	It is not underlined (unless inside an article text) but becomes underlines when hovered.
	Inside the link, there is usually a userpic.
 */
a.user {
	font-weight: bold;
	text-decoration: none;
	
	&:hover {
		color: @c_link_hover !important;
		text-decoration: underline;
	}
	
	&:visited {
		color: @c_link;
	}
	
	article p & {
		text-decoration: underline;
	}
	
	img {
		height: 1em;
		width: 1em;
		margin-right: 0.2em;
		vertical-align: -0.15em;
	}
}

/**
	Commonly used links to a club.
	It looks same as a.user except the color.
 */
a.club {
	color: @c_club;
	font-weight: bold;
	text-decoration: none;
	
	&:hover, article p & {
		color: @c_link_hover;
		text-decoration: underline;
	}
	
	img {
		height: 1em;
		margin-right: 0.2em;
		vertical-align: -0.15em;
	}
}

/**
	Universal class for span elements which should have bottom border
	of the same color as text itself. The color can be passed as argument.
 */
.dotted_link(@color: @c_link) {
	border-bottom: 1px dotted @color;
	color: @color;
	display: inline-block;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 0.5em;
	text-decoration: none;
	
	&:hover {
		.dotted_link_hover;
	}
	
	&:visited {
		color: @color;
	}
}

/**
	The implementation of .dotted_link:hover as a separate class.
 */
.dotted_link_hover() {
	border-bottom-color: @c_link_hover;
	color: @c_link_hover;
	cursor: pointer;
	text-decoration: none;
}

/**
	Some white block: an article, a paginator, a 
 */
.sheet {
	background: @c_article_bg;
	box-shadow: 0 0.50rem 0.25rem -0.25rem @darkgray;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	width: 100%;
		max-width: @page_width;
}

/**
	Universal space-filler for any flex-based container.
 */
.spacer {
	flex: 10000;
}


.button-main {
	background: @green;
	border: none;
	color: white;
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	
	&:hover {
		background: darken(@green, 10%);
		color: white !important;
		cursor: pointer;
	}
	
	&:visited, &:hover:visited {
		color: white !important;
	}
}