/**
	Common styles for posts and comments.
	Some of them can be overriden in more context-specific files.
 */
.content {
	h2 {
		color: @c_heading2;
		font-family: serif;
		font-size: 2.5rem;
		font-weight: normal;
		line-height: 0.95em;
		margin: 0 @article_padding 0.5rem @article_padding;
		z-index: 2;
		
		a {
			color: inherit;
			text-decoration: none;
			
			&:hover {
				color: @c_link_hover;
				text-decoration: underline;
			}
			
			&:visited {
				color: inherit;
			}
		}
		
		input {
			background: none;
			border-color: black;
			border-style: none none dotted none;
			border-width: 1px;
			font: inherit;
			width: 100%;
			
			&::placeholder { font-style: italic; }
			&::-moz-placeholder { font-style: italic; }
		}
	}
	
	h3 {
		font-family: serif;
		font-size: 2rem;
		font-weight: normal;
		margin: 0 @article_padding 0.5rem @article_padding;
	}
	
	h4 {
		font-family: serif;
		font-size: 1.5rem;
		font-style: italic;
		font-weight: bold;
		margin: 0 @article_padding 0.5rem @article_padding;
	}
	
	h5 {
		color: @darkestgray;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: bold;
		margin: 0 @article_padding 0.5rem @article_padding;
	}
	
	h6 {
		color: @darkestgray;
		font-size: 1.2rem;
		font-style: normal;
		font-weight: bold;
		margin: 0 @article_padding 0.5rem @article_padding;
	}
	
	p {
		color: @c_article_fg;
		margin: 0 @article_padding;
		padding: 0 0 0.5rem 0;
		
		span.cut {
			.dotted_link;
			
			& + .undercut {
				display: none;
			}
			
			&.open {
				display: none;
				
				& + .undercut {
					display: inline;
				}
			}
		}
		
		&.warning {
			background-color: @yellow;
			background-image: url("img/dialog-warning.svg");
			background-position: 0.5rem 0.5rem;
			background-repeat: no-repeat;
			background-size: 1.5rem;
			color: @brown;
			font-weight: bold;
			margin-bottom: 1rem;
			padding: 0.5rem 1rem 0.5rem 2.5rem;
		}
		
		textarea {
			background: none;
			border: none;
			font: inherit;
			min-height: 15rem;
			width: 100%;
			
			&::placeholder { font-style: italic; }
			&::-moz-placeholder { font-style: italic; }
		}
	}
	
	/**
		Increasing top padding for first <p> in an article (but not first <p> in an undercut!)
	 */
	.content > p:first-child {
		margin-top: 0.5rem;
	}
	
	/**
		Paddings will be override in mq.less.
	 */
	p.image {
		margin: auto;
		padding: 0 0 0.5rem 0;
		position: relative;
		text-align: center;
		z-index: 2;
		
		&.left  { text-align: left;  }
		&.right { text-align: right; }
		
		img {
			max-width: 100%;
			position: relative;
			z-index: 2;
		}
	}
	
	div.cut {
		.dotted_link;
		margin: 0 @article_padding 0.5rem @article_padding;
		
		& + div.undercut {
			display: none;
		}
		
		&.open {
			display: none;
			
			& + div.undercut {
				display: block;
			}
		}
	}
	
	blockquote {
		// background-color: @gray;
		margin: 0 @article_padding 0.5rem @article_padding;
		
		p {
			margin: 0;
			overflow: hidden;
			padding-right: 3rem;
			padding-left: 3rem;
			position: relative;
			
			&:first-of-type::before {
				color: @darkgray;
				content: "«";
				display: block;
				font-size: 4rem;
				font-family: serif;
				position: absolute;
					top: -1.5rem;
					left: 0.5rem;
			}
			
			&:last-of-type::after {
				color: @darkgray;
				content: "»";
				display: block;
				font-size: 4rem;
				font-family: serif;
				position: absolute;
					bottom: -0.5rem;
					right: 0.5rem;
			}
		}
		
		footer {
			padding-right: @article_padding;
			padding-left: @article_padding;
			text-align: right;
			
			&::before {
				color: @darkgray;
				content: "—";
			}
		}
	}
	
	code {
		background: @gray;
		border-radius: 0.3em;
		padding: 0 0.3rem;
	}
	
	pre {
		border: 0.1em solid @gray;
		border-radius: 0.3em;
		margin: 0 @article_padding 0.5rem @article_padding;
		padding: 0.5rem;
		white-space: pre-wrap;
	}
}
