/// The bottom part of the whole page.

#main-wrapper > footer {
	background:
		/*linear-gradient(to bottom, fadeout(black,60%), transparent 1rem),*/
		/*url("img-examples/footer.png") bottom center,*/
		@c_roof;
	color: @c_roof_text;
	font-size: 0.9rem;
	padding: 0 1.5rem 1.5rem 0;
	text-align: right;
	
	#footer-inner {
		margin: auto;
		padding: 1.5rem 0;
		width: 100%;
			max-width: @page_width - 2rem;
		
		a {
			color: inherit;
		}
	}
}