// All the @media queries should be placed here.
// DO NOT use nested @media queries (@media queries inside {}).
// ALWAYS place @media queries here, linking this in a comment from original file.

@media (max-width: @page_width) {
	
	#main {
		background: white !important;
	}
	
	.superheader,
	.superheader2 {
		padding-right: @article_padding !important;
		padding-left: @article_padding !important;
		
		.superheader-inner {
			img.avatar-mini {
				margin-left: 0 !important;
			}
		}
	}
	
	.user-description-and-avatar {
		margin-top: 0 !important;
		
		.user-description {
			box-shadow: none !important;
		}
		
		img.user-avatar {
			border: none !important;
			box-shadow: none !important;
		}
	}
	
	article {
		box-shadow: none;
		margin-top: 0 !important;
		margin-bottom: 0;
		
		&:not(:first-of-type) {
			border-top: 0.1rem solid lightgray;
		}
		
		&:last-of-type {
			margin-bottom: 1rem;
		}
		
		p.image {
			padding: 0 0 0.5rem 0;
		}
	}
	
	.actions-sheet {
		padding: 0 @article_padding;
		
		.search-box, .paginator {
			box-shadow: none !important;
			
			a {
				border-left-color: @c_article_bg !important;
				
				&:first-child {
					padding-left: 0 !important;
				}
				
				&:last-child {
					padding-right: 0 !important;
				}
			}
		}
		
		.search-box {
			border: 1px solid @green;
				border-right: 0;
		}
	}
	
	.profile-block {
		box-shadow: none !important;
	}
}


@media (max-width: 40rem) {
	.user-description-and-avatar {
		align-items: center !important;
		flex-direction: column;
		
		.user-description {
			order: 1;
		}
		
		.user-avatar {
			margin: 0 auto !important;
			order: 0;
			max-width: 100% !important;
		}
	}
	
	.profile-block {
		.club-row {
			flex-direction: column;
			margin-bottom: 1rem !important;
			
			a.club-row-left {
				margin-right: 0 !important;
				margin-bottom: 0.5rem !important;
			}
			
			.club-row-right {
				max-width: none !important;
			}
		}
	}
}