.user-description-and-avatar {
	display: flex;
		align-items: flex-start;
	margin: 1rem auto 0 auto;
	width: 100%;
		max-width: @page_width;
	
	.user-description {
		.sheet;
		box-sizing: border-box;
		flex: 10000;
		padding: @article_padding;
	}
	
	img.user-avatar {
		.sheet;
		border: 10px solid white;
		box-sizing: border-box;
		margin-left: 1.5rem;
		width: 20rem;
	}
}

.profile-block {
	.sheet;
	.content;
	padding-bottom: 1rem;
	
	&:first-of-type {
		margin-top: 2rem;
	}
	
	h2 {
		padding-bottom: 0.5rem;
	}
	
	.club-row {
		display: flex;
			justify-content: space-between;
		margin: @article_padding;
		
		a.club-row-left {
			display: flex;
			font-size: 1.5rem;
			margin-right: 1rem;
			
			img {
				height: 3rem;
				margin-top: 0.2rem;
				margin-right: 0.5rem;
				width: 3rem;
			}
			
			div {
				display: flex;
					flex-direction: column;
					
				span {
					color: @darkgray;
					font-size: 1.2rem;
					font-weight: normal;
				}
			}
			
			&:hover {
				text-decoration: none;
				
				div strong {
					text-decoration: underline;
				}
			}
		}
		
		.club-row-right {
			max-width: 70%;
		}
	}
}