/// Styles for replies placed under a post.

article > div.replies {
	font-size: 0.85rem;
	padding: 0.5rem @article_padding 0.5rem @article_padding+0.5rem;
	
	.reply {
		min-height: 1.5rem;
		padding-bottom: 0.5rem;
		
		a.user.author {
			padding-left: 2rem;
			position: relative;
			
			img {
				height: 1.5rem;
				position: absolute;
					left: 0;
					top: 0.3rem;
				width: 1.5rem;
			}
		}
		
		div.content {
			margin-left: 1.4rem;
			
			p {
				padding-bottom: 0.1rem;
				
				&:first-child {
					margin-top: 0;
				}
				
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
		
		div.controls {
			color: @darkgray;
			font-family: serif;
			font-size: 0.8rem;
			font-style: italic;
			margin-left: 2rem;
			
			span:not(:last-child), a:not(:last-child) {
				padding-right: 0.5em;
			}
		}
	}
	
	div.replies {
		padding: 0.5rem @article_padding 0 1rem;
	}
}
