// Styles for the top part of every Ongra's page.

/**
	The outer roof block provides the background for the areas outside the roof-inner block.
	Background is centered in order to be synchronized with roof-inner's background.
	
	Its visible height is @roof_height, but in fact it is @roof_height*2,
	making its opaque part's height exactly @roof_height_max.
 */
#roof-background {
	background-image: /*url("img-examples/roof-background.png"),*/
		linear-gradient(to bottom, transparent 50%, @c_roof 50%);
	background-position: center;
	height: @roof_height;
	padding-top: @roof_height;
	position: absolute;
		top: -@roof_height;
		right: 0;
		left: 0;
	z-index: 0;
}

/**
	Roof-inner is the container which defines maximum width of the roof.
	Area outside roof-inner is empty area with background only.
	Roof-inner is centered using margin:auto.
 */
#roof-inner {
	height: @roof_height;
	margin: auto;
	max-width: @page_width;
	
	/**
		Roof-version blocks are the replaceable parts of roof, with their own backgrounds.
		Since the background image is centered, user does not see the roof-version's margins.
		The background image's top half must be fully transparent, so that we could
		make a .roof-version invisible by just moving it far enough to the bottom.
		
		Normally, its height is @roof_height*2 (half of which is hidden by global roof's overflow:hidden).
		Background's middle line is at the top of visible area, so user sees opaque background.
		
		When roof-version contents does not fit the width and is wrapped, its height becomes @roof_height*4
		(see ul.roof-links' padding). Hence, background's middle line is now at the bottom of visible area,
		and user sees some other roof-version through this one.
		
		Settings pointer-events:none is required to allow clicking lower roof-versions
		when seeing them through transparent parts of higher ones.
		Note that logo does not hide when a roof-version's menu wraps down,
		so we can't set different logos for different screen sizes.
		In fact, user always sees only the biggest roof-version's logo and can click only on it,
		but we still have real logo inside every roof-version because it is more convinient
		than having real logo in one place and paddings in other places to imitate logo's float:left.
	 */
	.roof-version {
		background-image: /* url("img-examples/roof-background.png"),*/
			linear-gradient(to bottom, transparent 50%, @c_roof 50%);
		background-position: center;
		margin: auto;
		pointer-events: none;
		position: absolute;
			top: -100%;
		width: 100%;
			max-width: @page_width;
			
		/**
			Logo must always have the same width (otherwise logos from different layers
			would be partially visible at the same time).
			It has z-index:1 in order to be visible near roof-version.
			If image is not availiable, alt text is rendered with the same color as logo.
			
			When image is not availiable, user will see empty space at the logo's place,
			but the link's real text will be still selectable and have appropriate size.
		 */
		a.logo {
			background-image: url("img/ongra-white.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			color: fadeout(@c_roof_text, 100%) !important;
			display: block;
			float: left;
			font-size: @roof_height;
			font-style: italic;
			height: @roof_height;
			margin-top: @roof_height;
			margin-left: @roof_padding;
			pointer-events: auto;
			width: @roof_height * @logo_proportions;
		}
			
		/**
			The key part of the replaceable roof's mechanism: the «width guard».
			It has some minimal width (just to make sure it's not ignored by browser)
			and floats to the right, the same way as ul.roof-links does.
			If ul.roof-links is too big for current window size, the width guard makes it wrap lower.
			Width guard's height is @roof_height*2, but its top half is hidden above the page top,
			so in fact the guard's bottom is at the visible roof area bottom.
		 */
		&::before {
			content: "";
			display: block;
			float: right;
			height: @roof_height*2;
			width: 0.1px;
		}
		
		/**
			Finally, the list of links. It floats to the right (see explanation for ::before element).
			
			Top padding is @roof_height, so it's placed either at the top of visible roof area
			(since the whole roof itself starts at 0-@roof_height) or a whole @roof_height lower
			than visible roof area (keeping padding after the bottom of ::before).
			
			Pointer-events:auto is neccessary here because without it links would inherit
			roof-version's pointer-events:none and become always non-clickable.
			This makes the whole <ul> non-clickable-through.
			(If we would set pointer-events:auto to separate links only, links of other roof-versions
			could stay clickable through margins between links of current roof-version.)
			
			What is inside the list may be very different for different screen resolutions.
			See more specific styles below.
		 */
		ul.roof-links {
			display: block;
			float: right;
			height: @roof_height;
			margin: 0;
			padding: @roof_height 0 0 0;
			pointer-events: auto;
			
			/**
				This trick helps aligning list items vertically.
				Since we know exactly height of links (which is 3rem),
				we just make this block's height half of the roof's height minus 1rem.
			 */
			&::before {
				content: "";
				display: block;
				height: @roof_height / 2;
				margin-bottom: -1.5rem;
			}
			
			/**
				List items are implemented as floating blocks, not inline-blocks,
				to avoid unclickable whitespaces between them.
			 */
			& > li {
				float: left;
				list-style-type: none;
				z-index: 2;
				
				/**
					Line-height is used for vertical alignment, see comment for ul.roof-links::before.
					See specific styles for different links and icons later in this file.
				 */
				& > a {
					color: @c_roof_text !important;
					display: block;
					height: 3rem;
					line-height: 3rem;
					padding: 0 @roof_li_padding/2;
					text-decoration: none;
					white-space: nowrap;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
			
			/**
				Second-level menu popups.
			 */
			& > li > div {
				display: none;
				position: relative;
				z-index: 3;
				
				ul {
					background: @c_popup;
					box-shadow: 2px 2px 2px gray;
					padding: 0;
					position: absolute;
						top: 0;
						right: 0;
					white-space: nowrap;
					
					li {
						list-style-type: none;
						
						a {
							color: black;
							display: block;
							font-size: 0.9em;
							padding: 0.3rem 1rem;
							text-decoration: none;
							
							&:hover {
								background: @c_popup_selection;
							}
						}
					}
				}
			}
			
			/**
				Show the submenu when user hovers corresponding top-level menu item.
			 */
			& > li:hover > div {
				display: block;
			}
		}
	}
}


//////////////////////////////////////////////////////////////////////
// Specific links and icons on the roof
//////////////////////////////////////////////////////////////////////

#roof-inner .roof-version ul.roof-links {
	
	/**
		Bold links, such as link to inbox.
	 */
	& > li.strong {
		font-weight: bold;
	}

	/**
		Various iconic links and inbox indicator.
	 */
	& > li.iconic a span,
	& > li#roof-inbox-indicator a span {
		display: inline-block;
		height: 1.5rem;
		line-height: 1.5rem;
		margin: 0.75rem 0;
		width: 1.5rem;
		
		img {
			display: inline-block;
			height: 1.5rem;
			width: 1.5rem;
		}
	}
	& > li#roof-inbox-indicator a span {
		background: white;
		border-radius: 1.5rem;
		color: @c_roof;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
	}

	/**
		Link to profile, featuring user's avatar.
	 */
	& > li.profile {
		padding-left: @roof_li_padding/2;
		z-index: 4;
		
		&:hover {
			background: none;
		}
		
		& > a {
			padding: 0;
			
			img {
				display: block;
				height: 3rem;
				margin: auto;
				width: 3rem;
			}
		}
	}
}