article.settings {
	table {
		border-spacing: 0;
		width: 100%;
		
		h2.settings-section {
			color: @darkestgray;
			font-family: sans-serif;
			font-size: 1.4rem;
			font-weight: bold;
			margin-right: 0;
			margin-left: 0;
		}
		
		tr:not(:first-child) td:first-child:last-child {
			padding-top: 1rem !important;
		}
		
		tr td:first-child:not(:last-child) {
			color: @darkestgray;
			padding: 0 1em 0.5em 0;
			text-align: right;
			vertical-align: top;
			width: 7em;
		}
		
		tr td:last-child {
			box-sizing: border-box;
			padding: 0;
			vertical-align: top;
			
			input[type="text"], textarea {
				background: linear-gradient(to bottom, #F3F3F3 0, white 0.5em);
				border: 1px solid gray;
				box-sizing: border-box;
				color: black;
				font-family: sans-serif;
				font-size: inherit;
				margin: 0;
				padding: 0 0.3em;
				width: 95%;
					max-width: 20rem;
					
				&:focus {
					border-color: blue;
				}
			}
			
			textarea {
				max-width: 100%;
				height: 10em;
			}
			
			input[type="submit"], button {
				border: none;
				background: @green;
				color: white;
				font-size: inherit;
				margin-top: 0.5rem;
				padding: 0.2em 1em;
				
				&:hover {
					background: darken(@green, 10%);
				}
			}
		}
	}
}