/// Big header, visually very close to the roof.
/// Can contain breadcrumbs, blog's or club's title and other heading-like information.

.superheader {
	background: @gray;
	padding: 0.3rem 0 1rem 0;
	
	.superheader-inner {
		display: flex;
			flex-direction: row;
		margin: auto;
		width: 100%;
			max-width: @page_width;
		
		& > div:nth-child(1) {
			img.avatar {
				margin: 1rem 1rem 0 0;
				width: 6rem;
			}
			
			img.avatar-mini {
				margin: 0.5rem 1rem 0 @article_padding;
				width: 3rem;
			}
		}
		
		& > div:nth-child(2), & > div:first-child:last-child {
			margin-right: @article_padding;
			
			h1, .userlink-mini {
				font-size: 3rem;
				font-weight: bold;
				margin: 0.5rem 0 0 0;
				max-width: @page_width;
				padding: 0;
				text-align: left;
				width: 100%;
					max-width: @page_width;
					
				a {
					text-decoration: none;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
			
			h1.inactive-h1 {
				color: @darkgray;
			}
			
			.userlink-mini {
				font-size: 1.5rem;
				
				& + p {
					margin-top: 0;
					margin-bottom: 0;
				}
			}
			
			& > div.blog-type {
				color: @darkgray;
				font-size: 1.3rem;
				font-weight: bold;
			}
		}
	}
}

.superheader2 {
	background: #C7C5C5;
	padding: 0.5rem 0;
	
	.superheader-inner {
		display: flex;
			align-items: center;
			flex-direction: row;
		margin: auto;
		width: 100%;
			max-width: @page_width;
		
		& > div:nth-child(1) {
			color: @darkgray;
			font-weight: bold;
			margin: 0;
			
			a {
				text-decoration: none;
				
				&:hover {
					color: @c_link_hover !important;
					text-decoration: underline;
				}
				
				&:visited { color: @c_link; }
			}
		}
	}
}