<article>
    <div class="date">{{ entry.created.strftime('%B %d, %Y') }}</div>

    <div class="content">
        <h2><a href="{{ entry.url() }}">{{ entry.title }}</a></h2>
        {{ entry.body_html | safe }}
    </div>

    <div class="meta">
        <span class="discuss" href="post.html"><a href="{{ entry.url() }}">{{ entry.count_comments }} comments</a></span>
    </div>

    {% include 'parts/replies.jinja2' %}
</article>
