{% for reply in entry.replies %}
{% if loop.first %}<div class="replies">{% endif %}
    <div class="reply">
        <a class="user author" href="profile.html"><img src="img-examples/max.jpg" alt=""/>{{ reply.author }}</a>
        <div class="content">
            {{ reply.body_html | safe }}
        </div>
        <div class="controls">
            <span class="date">{{ reply.date.strftime('%B %w, %Y') }}</span>
            <a class="action-reply" href="reply.html">Reply</a>
        </div>

        {% with entry=reply %}
            {% include 'parts/replies.jinja2' %}
        {% endwith %}
    </div>
{% if loop.last %}</div>{% endif %}
{% endfor %}
