{% set page_title = entry.title %}
{% extends 'page.jinja2' %}
{% block main %}

<header class="superheader">
    <div class="superheader-inner">
        <div>
            <a href="{{ blog.url() }}">
                <img class="avatar-mini" src="{{ blog.userpic.url() }}" alt=""/>
            </a>
        </div>
        <div>
            <div class="userlink-mini"><a class="user" href="{{ blog.url() }}">{{ blog.title }}</a></div>
            {{ blog.description }}
        </div>
    </div>
</header>

{% include 'parts/entry.jinja2' %}

{% endblock main %}
