{% extends 'page.jinja2' %}
{% block main %}
			
<header class="superheader">
    <div class="superheader-inner">
        <div>
            <img class="avatar" src="{{ blog.userpic.url() }}" alt=""/>
        </div>
        <div>
            <h1><a class="user" href="{{ blog.url() }}">{{ blog.title }}</a></h1>
            <p>{{ blog.description }}</p>
        </div>
    </div>
</header>

<header class="superheader2">
    <div class="superheader-inner">
        <div>
{#            <a href="stats.html">1 author, 15 subscribers</a>#}<br/>
            56 entries
        </div>
        <div class="spacer"></div>
        <div>
            <a class="button-main" href="write.html">Write here</a>
        </div>
    </div>
</header>

{% for entry in entries %}
    {% include 'parts/entry.jinja2' %}
{% endfor %}

<div class="actions-sheet">
{#    <form class="search-box" method="post">#}
{#        <input type="text" placeholder="Search here..."/>#}
{#        <input type="submit" value="Search"/>#}
{#    </form>#}

    <div class="paginator">
        {% if page > 1 %}
        <a href="{{ app.router['blog'].url_for(username=blog.name).with_query({'page': page - 1}) }}" class="prev">« Later</a>
        {% endif %}

        {% for p in range(1, entries_count // page_size + 1) %}
            {% if p == page %}
                <span class="current">{{ p }}</span>
            {% else %}
                <a href="{{ app.router['blog'].url_for(username=blog.name).with_query({'page': p}) }}">{{ p }}</a>
            {% endif %}
        {% endfor %}

        {% if page < entries_count // page_size %}
        <a href="{{ app.router['blog'].url_for(username=blog.name).with_query({'page': page + 1}) }}" class="next">Earlier »</a>
        {% endif %}
    </div>
</div>

{% endblock main %}
