<!doctype html>
<head>
	<meta charset="utf-8"/>
	<title>{{ blog.title }}</title>
	<link rel="shortcut icon" href="../img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
</head>
<body>
	<div id="main-wrapper">
		<div id="main">
			<!-- ################################################################## -->

{% block main %}{% endblock %}

			<!-- ################################################################## -->
		</div>

		<footer>
			<div id="footer-inner">
                © {{ now().strftime('%Y') }}
			</div>
		</footer>
	</div>
</body>
